html {
    font-size: 100%;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    padding: 1rem;
    max-width: 60ch;
    margin: 0 auto;
 
}

dialog {
    width: min(100%, 40ch);
}

h1 {
    font-size: 1.8rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

output {
    display: block;
    margin-bottom: 2rem;
}

#region, #language, #month {
    display: flex;
    justify-content: space-between;
    gap: 1ch;
}


#monthPopover div{
    display:flex;
    flex-wrap: wrap;
    gap: 1ch;
    padding: 1ch;
}

button, .button-like {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    background: hotpink;
    color: white;
    border: none;
    border-radius: 5px;
    
}

button {
    cursor: pointer;
}


button:hover {
    background: deeppink;
}

